files:
  "/etc/nginx/conf.d/letsencrypt.conf":
    mode: "644"
    owner: root
    group: root
    content: |
      # Serve ACME challenge files
      location /.well-known/acme-challenge/ {
          root /var/www/letsencrypt;
      }
container_commands:
  02_create_webroot:
    command: "mkdir -p /var/www/letsencrypt && chown nginx:nginx /var/www/letsencrypt"
