option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: false
    DeleteOnTerminate: true
    RetentionInDays: 1

  aws:elasticbeanstalk:command:
    BatchSize: 100
    BatchSizeType: Percentage

  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
