packages:
  yum:
    jq: []  # Ensure jq is installed for JSON parsing

container_commands:
  01_fetch_ssl_cert:
    command: |
      mkdir -p /etc/pki/tls/certs
      aws secretsmanager get-secret-value --secret-id 'cvai/ssl-certificates' --query SecretString --output text | jq -r .certificate > /etc/pki/tls/certs/server.crt
      aws secretsmanager get-secret-value --secret-id 'cvai/ssl-certificates' --query SecretString --output text | jq -r .private_key > /etc/pki/tls/certs/server.key

  02_restart_nginx:
    command: "sudo systemctl restart nginx"
