option_settings:
  aws:elasticbeanstalk:application:environment:
    TYPEORM_LOGGING: '{{resolve:ssm:/cvai/TYPEORM_LOGGING}}'
    MONGODB_URI: '{{resolve:ssm:/cvai/MONGODB_URI}}'
    TYPEORM_CONNECTION: '{{resolve:ssm:/cvai/TYPEORM_CONNECTION}}'
    TYPEORM_HOST: '{{resolve:ssm:/cvai/TYPEORM_HOST}}'
    TYPEORM_PORT: '{{resolve:ssm:/cvai/TYPEORM_PORT}}'
    TYPEORM_USERNAME: '{{resolve:ssm:/cvai/TYPEORM_USERNAME}}'
    TYPEORM_PASSWORD: '{{resolve:ssm:/cvai/TYPEORM_PASSWORD}}'
    TYPEORM_DATABASE: '{{resolve:ssm:/cvai/TYPEORM_DATABASE}}'
    DATABASE_SSL: '{{resolve:ssm:/cvai/DATABASE_SSL}}'
    FRONTEND_URL: '{{resolve:ssm:/cvai/FRONTEND_URL}}'
    JWT_SECRET: '{{resolve:ssm:/cvai/JWT_SECRET}}'
    REFRESH_JWT_SECRET: '{{resolve:ssm:/cvai/REFRESH_JWT_SECRET}}'
    GOOGLE_CLIENT_ID: '{{resolve:ssm:/cvai/GOOGLE_CLIENT_ID}}'
    GOOGLE_SECRET: '{{resolve:ssm:/cvai/GOOGLE_SECRET}}'
    GOOGLE_CALLBACK_URL: '{{resolve:ssm:/cvai/GOOGLE_CALLBACK_URL}}'
